.main-content {
    margin-right: 60vh; /* Deja espacio para el chat inicialmente */
}
.progress-bar {
    background-color: #f0f0f0;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
}
.course-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.content-section {
    margin-bottom: 20px;
}
.chat-input {
    display: flex;
    margin-top: 20px;
}
.chat-input input {
    flex: 1;
    padding: 10px;
}
.chat-input button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


.side-chat {
    position: fixed;
    right: 0;
    top: 0;
    width: 60vh;
    height: 92vh;
    background-color: #08090a;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    resize: none; /* Deshabilitar el resize por CSS */
}

.resize-handle {
    position: absolute;
    left: -5px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
}

