/* Estilo para el menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Ajustar a la derecha del avatar */
  top: 100%; /* Para que aparezca justo debajo del avatar */
  margin-top: 5px; /* Espacio pequeño entre el avatar y el menú */
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #2c2c2c;
}

/* Estilo para el popup */
.popup {
  position: fixed;
  top: 50%;           
  left: 50%;          
  width: 90%;         
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
  transform: translate(-50%, -50%); 
}

.hidden {
  display: none;
}

.menu-overlay {
  z-index: 2;
  position: fixed;
  inset: 4rem 0 2.5rem 0;
  background-color: rgba(8, 9, 10, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.menu-container {
  background-color: #042a2b;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 48rem;
  margin: 0 1rem;
}

.menu-header {
  display:flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 1rem;
}

.menu-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4bc6ff;
}

.close-button {
  color: #bbbec6;
  transition: color 0.2s;
}

.close-button:hover {
  color: #4bc6ff;
}

.menu-content h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #4bc6ff;
  margin-bottom: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field {
  padding: 0.5rem;
  background-color: #08090a;
  border: 1px solid #68696e;
  border-radius: 0.25rem;
  color: #bbbec6;
  outline: none;
  transition: border 0.2s;
}

.input-field:focus {
  border-color: #4bc6ff;
}

.button {
  background-color: #4bc6ff;
  color: #08090a;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #2493d4;
}

/* Contenedor principal */
.container {
  background-color: #042a2b;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal interno */
.modal {
  position: relative;
  overflow-y: auto;
}

/* Cabecera */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4bc6ff;
}

/* Contenedor de opciones de suscripción */
.subscription-options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .subscription-options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .subscription-options {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Opción de suscripción */
.subscription-option {
  border: 1px solid #68696e;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  cursor: pointer;
  transition: border-color 0.3s;
  min-width: 200px;
  min-height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1; /* Asegura que las opciones se expandan correctamente */
}

.subscription-option.selected {
  border-color: #4bc6ff;
  background-color: rgba(75, 198, 255, 0.1);
}

.subscription-option:hover {
  border-color: #4bc6ff;
}

/* Título de la opción */
.option-title {
  color: #4bc6ff;
  margin-bottom: 0.25rem;
}

/* Precio */
.option-price {
  color: #bbbec6;
  margin-bottom: 0.1rem;
}

/* Características */
.option-features {
  font-size: 0.75rem;
  color: #bbbec6;
  max-height: 100px;
  overflow-y: auto;
  padding-left: 1.25rem;
}

.option-features li {
  margin-bottom: 0.25rem;
  list-style-type: disc;
}

.truncate {
  white-space: normal; /* Cambiado a 'normal' */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gap-2 {
  gap: 0.5rem;
}
